* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: gray;
  align-items:right;
  color: white;
  border: solid black;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: black;
  padding: 0px;

}

header {
  padding: 12% 0;
  background-image: url(portfolio-images/cyberpunk22.gif);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  background-color:dimgray;
  border: solid black;
}

h1{
  color: whitesmoke;
  align-content: center;
  font-family: 'Maven Pro', sans-serif;
  mix-blend-mode: unset ;
}

button,.button {
  background-color: black;
  float: inline-start;
  font-size: 20px;
  padding: 15px 32px;
  font-family:'Maven Pro', sans-serif;
}

button:hover{
  color:white;
}

a {
  color:white;
}
a:hover{
  color: violet;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  float: right;
  padding: 8px;
  color: whitesmoke;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: black;
  border: solid gray;
  color: white;
}

section:nth-child(even) {
  background-color: gray;
  color:white;
  border: solid black;
}

 img.quizApp {
  border: solid white;
  margin: auto
}

img.logo{
  height:auto;
  width:100px;
  float: left;
}

/* form stuff */
form {
  margin: 0 auto;
  width: 400px;
  /* form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}


form div + div {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block ;
  width: 90px;
  text-align: left;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-family: 'Maven Pro', sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: text-top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


/* Media Query Stuff */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #nav, li{
    padding: 4;
    font-size: 12px;
  }

  #header, h1{
    font-size: 20px;
  }

  img.logo{
    height:auto;
    width:50px;
    float: left;
  }
  img.quizApp {
    border: solid white;
    margin: auto
  }
}